<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Quiz App Homepage</title>

  <!-- Google Fonts: Bungee Shade + Source Sans 3 -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">

  <!-- CSS Stylesheets -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="/styles/user_quizzes.css" />
  <link rel="stylesheet" href="/styles/main.css" />

  <!-- JavaScript -->
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>

  <%- include("partials/_header.ejs") %>
  <main>
    <h1 class="homepage-title">Welcome to the Quiz App!</h1>
    <img src="https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExOHR2ZWZwdnY3YWIyMzA5cmo3Mjk2MWdxNnY5Z2NyOXB3b3Ryd2RqdCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/ASd0Ukj0y3qMM/giphy.gif" 
    alt="Quiz Animation" 
    class="homepage-gif" 
    />
    <p class="homepage-description">
      Create, share, and take quizzes on any topic. Whether you're a student, teacher, or just curious, our quiz app makes learning fun and interactive!
    </p>
    <ul class="homepage-quiz-list">
      <% quizzes.forEach(quiz=> { %>
        <li>
          <a href="/quizzes/<%= quiz.id %>/attempt">
            <%= quiz.quiz_title %>
          </a>
          <p>
            <%= quiz.quiz_description %>
          </p>
        </li>
        <% }) %>
    </ul>
  </main>
</body>

</html>