<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <title>Login</title>
</head>

<body>

  <main>
    <% if (error) { %>
      <p style="color: red;"><%= error %></p>
    <% } %>
    
    <form action="/login" method="POST">
      <div >
        <label for="email">User Id</label>
        <input type="number" name="id" placeholder="Enter your user id here"/>
        <button type="submit">Log in</button>
      </div>

    </form>
  </main>
</body>

</html>
