<!DOCTYPE html>
<html lang="en">

<head>
  <title>Quiz</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/questionSheet.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/quiz_create.js"></script>

</head>

<body>
  <div class="header">
    <div class="title">
      <h1 class="quiz-name">New Quiz</h1>
      <!--<button class="edit">Edit name</button>-->
    </div>

  </div>
  <form class="question-create" method="POST" action="/quizzes/new">
    <label for="quiz-name">Quiz Name</label>
    <input type="text" name="quiz_title" id="quiz-name" required>

    <div class="description">
      <textarea class="description-text" name="quiz_description" required>description</textarea>
    </div>

    <div class="question-container">
      <!-- Questions will be dynamically added here -->
      <button class="add" type="button">Add new question</button>
    </div>

    <button type="submit" class="save">Save Quiz</button>
  </form>

  </div>

</body>

</html>