
<body>

  <h1>My Created Quizzes</h1>

  <% if (quizzes.length === 0) { %>
    <p>You haven't created any quizzes yet.</p>
  <% } else { %>
    <% quizzes.forEach(quiz => { %>
      <li>
        <a href="/quizzes/<%= quiz.id %>/attempt">
          <%= quiz.quiz_title %>
        </a>
        <p>
          <%= quiz.quiz_description %>
        </p>
      </li>
    <% }); %>
    
    </ul>
  <% } %>

</body>