.navbar {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 120px;
  font-size: 20px;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  background-color: #41AB5D;
  padding: 40px 40px 40px 40px;
}
.navbar-nav-left {
  display: flex;
  gap : 20px;

}



