.navbar {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 120px;
  font-size: 20px;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  background-color: #b4cccf;
  padding: 40px 60px 40px 40px;
  font-family: "Source Sans 3", sans-serif;
}

.navbar-nav-left {
  display: flex;
  gap: 2rem;
  padding: 1.5rem 2rem;
  border-radius: 12px;
  font-family: 'Bungee Shade', sans-serif;
  font-size: 40px;

  //all of titles(elements) <a>
  a {
    color: #333;
    text-decoration: none;
  }

  a:hover {
    color: #555;
  }
}