body{
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: auto;
}
.title{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.save{
  display:flex;
  
  align-items: flex-end;
}

.title h1 {
  padding-right: 10px;
}

.question{
  border: 1px solid red;
}